<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETable</title>

    <link rel="stylesheet" href="../assets/CSS/bulma.css">
    <link rel="stylesheet" href="../assets/CSS/sidebar.css">
    <link rel="stylesheet" href="../assets/CSS/largeScreen/findadoption.css">
    <link rel="stylesheet" href="../assets/CSS/largeScreen/landingpage">
    <link rel="stylesheet" href="../assets/CSS/largeScreen/login.css">
    <link rel="stylesheet" href="../assets/CSS/largeScreen/signup.css">
</head>
<body>
    {{{body}}}
</body>
</html>