{{!-- {{>header}} --}}

    <div class="container">
        <!-- <h1 class="title is-1">PETable</h1> -->
    </div>

    <div class="signupBox box">
        <h2 class="signupTitle title is-2">Create Your Account</h2>

        <form class="signup-form">
            
                <div class="field" >
                    <label class="label">Name</label>
                    <div class="control">
                    <input class="input" id="name-login" type="username" placeholder="e.g. firstname.lastname">
                    </div>
                </div>

                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                      <input class="input" id="password-login" type="password" placeholder="********">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control">
                      <input class="input" type="password" placeholder="********">
                    </div>
                  </div>
            
            
              <div class="field" >
                <label class="label">Email Address</label>
                <div class="control">
                  <input class="input" id="email-login" type="email" placeholder="email@gmail.com">
                </div>
              </div>

              <div class="field">
                <label class="label">Zip Code</label>
                <div class="control">
                  <input class="input" placeholder="10010">
                </div>
              </div>

              <label class="checkbox">
                <input type="checkbox">
                I am creating an account for a shelter
              </label>
            
        </form>

        <button class="button" id="signUpUser">Sign Up</button>

        <div class="content">Already a member? <a href="/login"><strong class="loginLink">Log in</strong></a></div>
    </div>

    <script src="/js/signup.js"></script>