:root{
    --bg-white:#FEFEFE;
    --bg-trans-green: rgba(39, 168, 118, 0.3);
    --primary-green:#27A876;
    --fnt-blk:#0F0F0F;
    --navbar-grey:#E3E3E3;


}
body {
    background-color: var(--bg-white);
 }
.landingPageCont{
    display: flex;
    flex-direction: row;
}
.descriptionCont{
    width: 55vw;
    
}
#bg01{
    padding-top: 20vh;
    
}
.login {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* padding-top: 10vh; */
}
h2 {
    margin: 2em;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4em;
    
}
.button {
    
    
   
    background-image: url(../../Images/paw-01.svg);
    background-repeat: no-repeat;
    border-style: none;
    padding: 5em 5em 3em 1.75em;
    background-color: transparent;
    /* width: 10em;
    height: 2em;
    border: 2px solid var(--primary-green);
    border-radius: 26px;
    background-color: transparent; */
    color:var(--primary-green);
    font-weight: 500;
    
}
.button:hover {
   
    background-image: url(../../Images/paw-02.svg);
    background-repeat: no-repeat;
    border-style: none;
    padding: 5em 5em 3em 1.75em;
    background-color: transparent;
    color:var(--bg-white);

}
.contentCard {
    padding: 3vw 10vw 3vw 10vw;
    text-align: center;
}


@media only screen and (max-width : 768px){
    .landingPageCont{
        position: relative;   
    }
    #bg01 {
        /* padding-top: 120px; */ 
        width:90vw;     
    }
    h2 {
        margin: 1em;
    }
    .login {
        position: absolute;  
    }
    .content {
        color: var(--bg-white);     

    }
    .contentCard{
        background-color: var(--bg-trans-green);
        margin: 10vw 20vw 3vw 20vw;
        padding:5vw 5vw 5vw 5vw;
        border-radius: 26px;


    }
}