:root{
    --bg-white:#FEFEFE;
    --bg-trans-green: rgba(39, 168, 118, 0.3);
    --primary-green:#27A876;
    --fnt-blk:#0F0F0F;
    --navbar-grey:#E3E3E3;
}
body {
    padding-bottom: 25vh;
    background-color: var(--bg-white);
    background-image: url(../../Images/bg02.png);
    background-repeat: no-repeat;
    background-size: 70vh;
    background-position: bottom;
 }
.signupTitle {
    color:var(--primary-green);
    text-align: center;
    margin-bottom: 24px;
}
/* .signupForm {
    padding-left: 3em;
    margin-right:3em;
} */
.signupBox {
    margin: 5vh 25% 8vh;
    background-color: var(--bg-trans-green);
    border-radius: 15px;
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.firstColumn {
    padding: 12px 12px 12px 12px;
}
.secondColumn {
    padding: 12px 12px 12px 12px;
}
.input {
    background: rgba(255,254,254,0.70);
    border: 1px solid #ffffff;
    border-radius: 26px;
    width: 30vw;
    height:5vh;
}

.button {
    background-image: url(../../Images/paw-01.svg);
    background-repeat: no-repeat;
    border-style: none;
    background-position: center;
    padding:4.5em 4em 3em;
    background-color: transparent;
    color:var(--primary-green);
    font-weight: 500;  
    margin-top: 1.5em;
}
.button:hover { 
    background-image: url(../../Images/paw-02.svg);
    background-repeat: no-repeat;
    border-style: none;
    background-position: center;
    padding:4.5em 4em 3em;
    background-color: transparent;
    color:var(--bg-white);
    margin-top: 1.5em;
}
.content {
    text-align: center;
}
.loginLink {
    color: var(--primary-green);
}
.label {
    font-weight: 500;
    color:var(--fnt-blk);
}
.checkbox {
    margin-top: 28px;
    margin-right:15px;
}
@media only screen and (max-width : 768px){
  .loginBox {
    margin: 5vh 15vw 8vh;
  }  
  .firstColumn,
  .secondColumn {
      padding: 12px 10vw;
  }
  .secondColumn {
      padding-top: 0;
  }

  .input {
    width: 50vw;
    height:5vh;
  }
}